body {
}
h2{
    font-size: 80px;
    color:#000000;
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 0.1em;   
}

p{
    font-size: 12px;
    color:#000000;
    font-family: Arial;
}





