@{
    ViewBag.Title = "Our Story";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<head>
    <link href="~/Content/UsersStyleSheet.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
</head>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla enim libero, non feugiat leo lacinia vel. Vivamus convallis consequat quam, commodo lacinia mauris faucibus a. Suspendisse placerat justo ex, non finibus augue maximus aliquam. Aenean aliquet, justo vitae rutrum pellentesque, mauris leo feugiat metus, vel pellentesque arcu mauris sed magna. Sed lacinia quam at vehicula sagittis. Sed ut tincidunt sem. Maecenas condimentum elit suscipit dictum tempor. Vivamus ex sapien, interdum id gravida quis, auctor elementum neque. Maecenas non quam semper dolor convallis faucibus ut id quam. Pellentesque dapibus leo a mollis hendrerit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla enim libero, non feugiat leo lacinia vel. Vivamus convallis consequat quam, commodo lacinia mauris faucibus a. Suspendisse placerat justo ex, non finibus augue maximus aliquam. Aenean aliquet, justo vitae rutrum pellentesque, mauris leo feugiat metus, vel pellentesque arcu mauris sed magna. Sed lacinia quam at vehicula sagittis. Sed ut tincidunt sem. Maecenas condimentum elit suscipit dictum tempor. Vivamus ex sapien, interdum id gravida quis, auctor elementum neque. Maecenas non quam semper dolor convallis faucibus ut id quam. Pellentesque dapibus leo a mollis hendrerit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla enim libero, non feugiat leo lacinia vel. Vivamus convallis consequat quam, commodo lacinia mauris faucibus a. Suspendisse placerat justo ex, non finibus augue maximus aliquam. Aenean aliquet, justo vitae rutrum pellentesque, mauris leo feugiat metus, vel pellentesque arcu mauris sed magna. Sed lacinia quam at vehicula sagittis. Sed ut tincidunt sem. Maecenas condimentum elit suscipit dictum tempor. Vivamus ex sapien, interdum id gravida quis, auctor elementum neque. Maecenas non quam semper dolor convallis faucibus ut id quam. Pellentesque dapibus leo a mollis hendrerit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla enim libero, non feugiat leo lacinia vel. Vivamus convallis consequat quam, commodo lacinia mauris faucibus a. Suspendisse placerat justo ex, non finibus augue maximus aliquam. Aenean aliquet, justo vitae rutrum pellentesque, mauris leo feugiat metus, vel pellentesque arcu mauris sed magna. Sed lacinia quam at vehicula sagittis. Sed ut tincidunt sem. Maecenas condimentum elit suscipit dictum tempor. Vivamus ex sapien, interdum id gravida quis, auctor elementum neque. Maecenas non quam semper dolor convallis faucibus ut id quam. Pellentesque dapibus leo a mollis hendrerit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla enim libero, non feugiat leo lacinia vel. Vivamus convallis consequat quam, commodo lacinia mauris faucibus a. Suspendisse placerat justo ex, non finibus augue maximus aliquam. Aenean aliquet, justo vitae rutrum pellentesque, mauris leo feugiat metus, vel pellentesque arcu mauris sed magna. Sed lacinia quam at vehicula sagittis. Sed ut tincidunt sem. Maecenas condimentum elit suscipit dictum tempor. Vivamus ex sapien, interdum id gravida quis, auctor elementum neque. Maecenas non quam semper dolor convallis faucibus ut id quam. Pellentesque dapibus leo a mollis hendrerit.</p>
