@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    14440 Main St<br />
    Cleveland, OH 44111<br />
    <abbr title="Phone">P:</abbr>
    216-962-3340 <br />
    info@smithsuites.com
</address>