
<html>
<head>
    <link href="~/Content/IndexStyleSheet.css" 
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
</head>
<body class="titlePage">
    <h1>Smith Suites</h1>
    <p> A Home Away From Home</p>
</body>
</html>


